body{
    background: purple;
}

#weather_pic{
    background: url(../assets/spring.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:432px;
    height: 700px;
    margin: 0 auto;
    margin-top: 30px;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);;
}
.weather_icon{
    background: url(../assets/rain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:150px;
    height: 200px;
}

/* .degree{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .degree{
    margin-top: 40px;
} */